menu {position: fixed;
      left:0px;
      right: 90%;
      top:0px;
      bottom:0px;
      background-color: #f00;
      margin:0px}
main {position: absolute;
      right:0px;
      left: 10%;
      top:0px;
      bottom:0px;
      background-color: #f0f}
body {margin:0px;}
header {background-color: red;
      position: fixed;
      top:0px;
      bottom:auto;
      left:0px;
      right:0px;
    }
