menu {
  position: fixed;
      left:0px;
      right: 80%;
      top:10%;
      bottom:0px;
      background-color: #f00;
      margin:0px
    }

menu li {list-style: none;}

main {
  display:block;;
  position: absolute;
      right:0px;
      left: 20%;
      top:10%;
      bottom:0px;
      background-color: #F3CE31;
      margin:0px;
      overflow: hidden;
    }
body {
  margin:0px;
}
header {background-color: red;
      position: fixed;
      top:0px;
      bottom:90%;
      left:0px;
      right:0px;
      margin:0px;
      z-index:50;
}

h1 {
  margin:0px;
}

a:hover{color:#24D6DD;}
a:visited{color:#06044E;}
a:visited:hover{color:#24D6DD;}

table, th, td {border:1px solid black;}
table {border-collapse: collapse;}

table thead {
  background-color: white;
    color:#000;
    font-weight: bold;
    cursor: default;}
tr:hover{background-color: #F3CE76;}

td:hover{background-color: #CFB130;}
th{background-color: white;}

main > section {
  position:absolute;
  display:block;
	overflow-y: scroll;
  overflow-x: hidden;
}

main > section {top:0px;
bottom:0px;
left:0px;
right:0px;}

main > section {
	transform: translate(100%, 0%);
	transition: transform 300ms ease-out;
}

main > section:target {
  transform: translate(0%, 0%);
  transition: transform 300ms ease-out;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
